{% for msg in flash.success %}
<div class="sucesso">
	{{ msg | raw }}
</div>
{% endfor %}

{% for msg in flash.error %}
<div class="erro">
	{{ msg | raw }}
</div>
{% endfor %}

{% for msg in flash.info %}
<div class="info">
	{{ msg | raw }}
</div>
{% endfor %}