<nav>
	<ul>
		<li>
			<a href="{{ url_for('home') }}">Home</a>
		</li>
		<li>
			<a href="{{ url_for('loginPage') }}">Login</a>
		</li>
		<li>
			<a href="{{ url_for('registerPage') }}">Cadastro</a>
		</li>
	</ul>
</nav>